@import "../../Variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    padding-left: 0.625rem;
    user-select: none;
  
    .logo {
      cursor: pointer;
      width: 4.438rem;
      height: 2.438rem;
    }
  
    .navbar-links {
      display: flex;
      gap: 0.625rem;
      list-style: none;
      padding: 0;
  
      .navbar-link {
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        font-size: 1rem;
      }
    }
  
    .navbar-icons {
      display: flex;
      align-items: center;
  
      .icon-wrapper {
        padding: 0.438rem 0.313rem;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.05);
        }
  
        &:active {
          transform: scale(0.95);
        }
      }
  
      .cart-container {
        display: flex;
        align-items: center;
        position: relative;
  
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 1.25rem;
          border-left: 1px solid $border;
        }
      }
    }
  }
  