@import "./Variables.scss";

body {
  font-family: 'Poppins', sans-serif;
}

.home-main {
  height: 100vh;
  overflow: hidden;
}

.content-container {

  display: flex; 
  height: calc(100% - 21%); 
  justify-content: space-between; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  color: $black; 
}

.panel-left {
  display: flex; 
  height: 100%;
  width: 40%;
  flex-direction: column; 
  justify-content: space-between; 
}

.panel-right {
  display: flex; 
  height: 100%; 
  width: 45%;
  flex-direction: column; 
  justify-content: space-between; 
align-items: center;
}
